body{
    font-family:  sans-serif, Arial, Helvetica, ;
    margin: 30px;
    padding: 0;
    background:  linear-gradient(to right, hsl(197, 96%, 45%),hsl(120, 73%, 75%));
    
}
body:hover{
    background: linear-gradient(to left, hsl(197, 96%, 55%),hsl(120, 73%, 75%));

}
.profilePicture{
    display: block;
    margin: 0 auto;
    border:2px solid hsl(197, 96%, 45%); 
    box-shadow :2px 2px 5px  rgb(23, 158, 179) ;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;

}
h1{
    margin-left: 30%;
    align-items: left;
    text-align: left;
    font-size: 10fr;
    font-weight: bolder;
    
}

h1:hover{
    text-shadow: 2px 0px 0px rgb(23, 158, 179), 0px 2px 2px rgb(122, 215, 230);
}

form{
    max-width: 600px;
    padding: 20px;
    margin: auto;  
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(23, 158, 179)
    
}

fieldset{
    border: 1px solid  hsl(0, 0%, 0%);
    border-radius: 6px;
    margin-bottom:20px ;
    padding: 20px;
    background-color: rgb(71, 199, 218);   
}
legend{
    font-weight: bold;
    font-size: larger;
    color: hsl(0, 0%, 0%);
}
label{
    display: block;
    margin-top: 10px;
    color: hsl(0, 0%, 0%);
}
input{
    width: calc(100% - 10px);
    font-size: 3fr;
    font-family: sans-serif;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    font-size: large;
    font-weight: 1;
    padding: 10px;


}
#generate-btn{
    background: linear-gradient(to right, hsl(197, 96%, 45%),hsl(120, 73%, 75%));


}
#generate-btn:hover{
    background: linear-gradient(to left, hsl(197, 71%, 35%),hsl(120, 73%, 65%))


}
#generate-btn:active {
    background: linear-gradient(to right, hsl(197, 71%, 25%),hsl(120, 73%, 55%))


}

#reset-btn{
    background: linear-gradient(to right, hsl(9, 88%, 49%),hsl(25, 89%, 48%))
}
#reset-btn:hover{

    background: linear-gradient(to left, hsl(9, 88%, 39%),hsl(25, 89%, 48%))
}
#reset-btn:active{
    background: linear-gradient(to right, hsl(9, 88%, 29%),hsl(25, 89%, 48%))
}

#resumeoutput{
    
    max-height: 800px;
    max-width: 600px;
    padding: 20px;
    margin: auto;  
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(23, 158, 179)
    
} 

#resumeoutputh2{
    color: black;
    margin-left:50% ;
    margin-right: 50% ;
    
    
}
